.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1px 1p;
  background-color: #F3ECFA
}

.logo{
  width: 350px;
  height:auto;
}

ul{
  display:flex;
  gap:30px;
  list-style:none;
}

li{
  cursor:pointer;
}