@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  background-color:#E8DDF5;
  width:100%;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#e6dfcd;
    font-family:'Poppins', sans-serif;
}

#root{
    width:100%;
    min-height:100vh;
}

.logo{
  width: 250px;
  height:auto;
}

.menu{
  display:flex;
  gap:30px;
  list-style:none;
}

.menu li{
  cursor:pointer;
  color:#2B183F;
  font-weight:500;
}

.auth-buttons{
  display:flex;
  gap:12px;
}

.btn-login{
  background:transparent;
  color:#D4AF37;
  border:2px solid #D4AF37;
  padding:10px 20px;
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.btn-login:hover{
  background:rgba(212,175,55,0.1);
}

.btn-register{
  background:#D4AF37;
  color:white;
  border:2px solid #D4AF37;
  padding:10px 20px;
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.btn-register:hover{
  opacity:0.9;
}
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px;
    min-height:80vh;
    background:#F8F5EC;
}

.hero-content{
    width:50%;
}

.hero-tag{
    color:#D4AF37;
    font-weight:600;
}

.hero h1{
    font-size:4rem;
    color:#2B183F;
    margin:20px 0;
}

.hero h1 span{
    color:#D4AF37;
}

.hero p{
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    background:#D4AF37;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:30px;
}

.btn-secondary{
    background:transparent;
    color:#D4AF37;
    border:2px solid #D4AF37;
    padding:14px 30px;
    border-radius:30px;
}

.hero-image img{
    width:500px;
    border-radius:25px;
}